node_modules/
*.db
.env
.DS_Store
*.log
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
terraform-lab/
terraform-quizbattle/
mysql-backup.tar.gz

# Apps bloqueadas — se liberan dia a dia
apps/campuseats/
apps/quizbattle/
apps/monitoring/
